.app.container {
  display: flex;
  flex-direction: column;
}

.app.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #F8F8F8;

}

div.app.notes {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  width: 33vw;

}
